# Unity generated folders
[Ll]ibrary/
[Tt]emp/
[Ll]ogs/
[Uu]serSettings/
[Mm]emoryCaptures/

# Build outputs
[Bb]uild/
[Bb]uilds/
Obj/

# IDE / OS files
.vs/
.vsconfig
*.sln
*.csproj
*.user
*.userprefs
.DS_Store
